.footer-head {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.contact-box {
  margin-bottom: 60px;

  @include for-size(tablet) {
    margin-bottom: 0;
    width: calc((100% - 30px) / 2);
  }

  @include for-size(desktop) {
    width: calc((50% - 45px) / 2);
  }
}

.subscribe-box {
  @include for-size(tablet) {
    margin-top: 60px;
    width: calc(100% - 30px);
  }

  @include for-size(desktop) {
    padding-top: 0;
    width: calc(50% - 15px);
  }
}
