.portfolio-nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: -15px;
  margin-left: -15px;

  @include for-size(tablet) {
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 0;
    margin-left: 0;
  }
  @include for-size(desktop) {
    margin-bottom: 50px;
  }

  & .items {
    margin-top: 15px;
    margin-left: 15px;

    @include for-size(tablet) {
      margin-top: 0;
      margin-left: 0;
    }
  }
  & .items:not(:last-child) {
    margin-right: 8px;
  }
}

.portfolio-box {
  margin-top: -30px;

  & .link {
    margin-left: auto;
    margin-right: auto;
  }

  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }

  & .items {
    margin-top: 30px;

    @include for-size(tablet) {
      margin-left: 30px;
      width: calc((100% / 2) - 30px);
    }

    @include for-size(desktop) {
      width: calc((100% / 3) - 30px);
    }
  }
  & .link:focus,
  & .link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  & .link:focus .box-overlay,
  & .link:hover .box-overlay {
    transform: translateY(0);
  }
}

.items-descriptions {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;

  background: var(--primarycolor);
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.section-product-project {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}
.portfolio-overlay {
  position: relative;
  overflow: hidden;
}
.box-overlay {
  position: absolute;

  top: 0;
  left: 0;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  width: 370px;
  height: 294px;
  color: var(--primarycolor);
  background: rgba(33, 150, 243, 0.9);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
.box-overlay-text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
}
