.tittle-social {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primarycolor);
}
.list-social {
  display: inline-flex;

  .item:not(:last-child) {
    margin-right: 10px;
  }
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accentcolor);

    & .social-svg-person,
    & .social-svg-person {
      fill: var(--primarycolor);
    }
  }
}
.social-svg {
  width: 20px;
  height: 20px;

  fill: var(--primarycolor);
}

.social-svg-person {
  width: 20px;
  height: 20px;

  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
