.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primarycolor);
  text-transform: uppercase;

  @include for-size(desktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 28px;
  line-height: 1.269;
  text-align: center;
  color: #212121;

  @include for-size(desktop) {
    font-size: 36px;
    line-height: 1.16;
  }
}
.section-title-advantages {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
  text-align: center;

  @include for-size(tablet) {
    text-align: left;
  }
}
.section-title-name {
  margin-top: 0%;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #212121;
}
.section-title-project {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
