.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  @include for-size(mobile) {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  @include for-size(tablet) {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

  @include for-size(desktop) {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
.container-head {
  @include for-size(mobile) {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  @include for-size(tablet) {
    display: flex;
    align-items: center;

    width: 768px;
  }

  @include for-size(desktop) {
    width: 1200px;
    display: flex;
    align-items: center;
  }
}
.container-footer {
  @include for-size(mobile) {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
  }

  @include for-size(desktop) {
    justify-content: space-between;
    align-items: baseline;

    width: 1200px;
  }
}
